<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="~/overflow.css">
    <link rel="shortcut icon" type="image/png" href="~/cheez.png">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <script src="~/masonry.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/overflow.js" asp-append-version="true"></script>
</body>
</html>