@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="items" class="grid">
    <div class="grid-item-gutter-sizer"></div>
</div>
<div id="loader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>