@page
@model IndexModel
@{
    var host = Request.Host.Host;
    var ofs = host.IndexOf("overflow");
    if (ofs > 0)
        host = char.ToUpper(host[0]) +
            host.Substring(1, ofs - 1) +
            "O" + host.Substring(ofs + 1);
    ViewData["Title"] = host;
}

<div id="items" class="grid">
    <div class="grid-item-gutter-sizer"></div>
</div>
<div id="loader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>